@media only screen and (max-width:600px) {
    
    @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    --light-text: #ffffff;
    --dark-text:hsl(229, 25%, 31%);
    --score-text:hsl(229,64%,46%);
    --outline:hsl(217,16%,45%);
    --bg-grad-1: hsl(214, 47%, 23%);
    --bg-grad-2: hsl(237, 49%, 15%);
    --scissors-1: hsl(39, 89%, 49%);
    --scissors-2: hsl(40, 84%, 53%);
    --paper-1: hsl(230, 89%, 62%);
    --paper-2: hsl(230, 89%, 65%);
    --rock-1: hsl(349, 71%, 52%);
    --rock-2: hsl(349, 70%, 56%);
    --lizard-1: hsl(261, 73%, 60%);
    --lizard-2: hsl(261, 72%, 63%);
    --cyan-1: hsl(189, 59%, 53%);
    --cyam-2: hsl(189, 58%, 57%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
}

body {
    font-family: 'Barlow Semi Condensed',sans-serif;
    background: radial-gradient(at top, var(--bg-grad-1),var(--bg-grad-2));
    min-height: 100vh;
    text-transform: uppercase;
}

.container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 0.5rem;
    /* border: 2px solid white; */
}



.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    border: 3px solid var(--outline);
    border-radius: 20px;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.logo {
    height: 100%;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border: 2px solid #ffffff;
    border-radius: 10px;
    width: 120px;
    height: 100%;
}

.score_title {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    color: var(--score-text);
    line-height: 1;
}

.score_number {
    font-size: 3rem;
    font-weight: 700;
    color: var(--dark-text);
}

.reset {
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}
.reset:hover {
    border: 2px solid var(--outline);
}

/* Styling game section */

.game {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "paper scissors"
    "rock rock";
    place-items: center;
    height: 21rem;
    padding-top: 1rem;
    overflow: hidden;
}

.game::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 20%;
    top: 30%;
    background: url(./images/bg-triangle.svg) no-repeat;
    background-size: 60% 200px;
    z-index: -1;
}

.choice-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.choice {
    position: relative;
    width: 6.5rem;
    height: 6.5rem;
    background: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    box-shadow: inset 0 0.5rem #00000026;
}

.choice::before, 
.choice::after {
    content: "";
    position: absolute;
    left: -15%;
    top: -15%;
    width: 130%;
    height: 130%;
    border-radius: 50%;
    z-index: -1;
}

.choice::after {
    opacity: 0;
    transition: opacity 0.4s ease;
}

.choice-btn:focus .choice::after {
    opacity: 1;
    box-shadow: 0 0 0 2rem #223351;
    z-index: -2;
}

.choice.paper::before {
    background: linear-gradient(to bottom, var(--paper-1), var(--paper-2));
    box-shadow: 0 0.5rem #0000004d, 0 0.5rem var(--paper-2);

}
.choice.scissors::before {
    background: linear-gradient(to bottom, var(--scissors-1), var(--scissors-2));
    box-shadow: 0 0.5rem #0000004d, 0 0.5rem var(--scissors-2);

}
.choice.rock::before {
    background: linear-gradient(to bottom, var(--rock-1), var(--rock-2));
    box-shadow: 0 0.5rem #0000004d, 0 0.5rem var(--rock-2);

}

.choice img {
    transform: scale(1.1);
}
/* specifying areas declared above */

.choice-btn[data-choice="paper"] {
    grid-area: paper;
}
.choice-btn[data-choice="scissors"] {
    grid-area: scissors;
}
.choice-btn[data-choice="rock"] {
    grid-area: rock;
}

/* Rules button css */
.btn-div {
    display: grid;
    place-items: center;
}

.rules-btn {
    position: relative;
    background: none;
    outline: none;
    cursor: pointer;
    border: 2px solid var(--outline);
    border-radius: 0.6rem;
    padding: 0.6rem 2.5rem;
    font-family: inherit;
    text-transform: inherit;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-top: 3rem;  
}

.rules-btn:focus {
    border: 2px solid #fff;
    box-shadow: 0 0 0 0.2rem #223351;
}

/* modal css */

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background: #0000004d;
    pointer-events: none;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}

.modal-container {
    background: #fff;
    border-radius: 0.5rem;
}

.modal-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 1rem 2rem;
}

.modal-heading {
    font-size: 1.5rem;
    color: var(--dark-text);
}

.close-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.rules-img {
    padding: 2rem;
}

.show-modal {
    opacity: 1;
    pointer-events: initial;
}

.results {
    display: grid;
    grid-template-areas: 
    "you-title ai-title"
    "you-picked ai-picked";
    place-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.results-heading {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding: 1rem 3rem;
    color: #fff;
}

.results-result {
    min-width: 6.5rem;
    min-height: 6.5rem;
    border-radius: 50%;
    background-color: #00000026;
}

.results-heading:first-of-type {
    grid-area: you-title;
}

.results-heading:last-of-type {
    grid-area: ai-title;
}

.results-result:first-of-type {
    grid-area: you-picked;
}

.results-result:last-of-type {
    grid-area: ai-picked;
}

.results.show-winner {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "you-title . ai-title"
    "you-picked . ai-picked"
    "result-winner . result-winner";
    place-items: center;
}


.results-winner {
    /* grid-area: result-winner; */
    /* margin: 3rem 3re m; */
    display: grid;
    place-items: center;
    position: absolute;
    padding-top: 18rem;
}

.results-text {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.winner .choice::after {
    box-shadow: 0 0 0 20px #293251,0 0 0 40px #232c4b,0 0 0 80px #1e2949;
    opacity: 1;
    z-index: -2;
}

.play-again {
    background: #fff;
    outline: none;
    border: 2px solid transparent;
    border-radius: 0.6rem;
    color: var(--dark-text);
    padding: 0.6rem 2.5rem;
    text-transform: inherit;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.play-again:focus {
    border: 2px solid var(--outline);
}

/* Utilities */
.preload *{
    transition: none;
}

.hidden {
    display: none;
}
    
   
}